@import url('https://fonts.googleapis.com/css?family=Comfortaa|Jura');

* {
    font-family: 'Jura', sans-serif;
    line-height: 1.4;
}

.logo-title {
    padding: 30px 10px 0;
}

.logo-title, .logo-title *, .logo-slogan {
    font-family: 'Comfortaa', cursive;
    color: #0c5ab1;
}

.logo-color-1 {
    color: #0c8806;
}

.center {
    text-align: center;
}

.body {
    max-width: 1000px;
    margin: 10px auto;
}
